accumulo.name=NAME
accumulo.zooServers=SERVERS
accumulo.tableName=TABLENAME
accumulo.user=USER
accumulo.password=PASSWORD

###### Report: MinMaxConsumption ####

	#output Table values
reports.minMaxConsumption.outputTable.tableName=TABLENAME
	
	#set Dates |DATE1 = [DD.MM.YYYY HH.MM.SS]|[DD.MM.YYYY] |DATE2 = [DD.MM.YYYY]
reports.minMaxConsumption.dateRange.min=DATE1		
reports.minMaxConsumption.dateRange.max=DATE1	
reports.minMaxConsumption.dataRange.onlyInTimeRage=BOOLEAN

	#select Compute for ResidentialUnit or/and Building
reports.minMaxConsumption.run.residentialUnit=BOOLEAN
reports.minMaxConsumption.run.builiding=BOOLEAN

###### Report: YearConsumption ####

	#output Table values
reports.yearConsumption.outputTable.tableName=TABLENAME

	#set Dates |DATE1 = [DD.MM.YYYY HH.MM.SS]|[DD.MM.YYYY] |DATE2 = [DD.MM.YYYY]
reports.yearConsumption.dateRange.untilDate=DATE1		
reports.yearConsumption.dataRange.onlyInTimeRage=BOOLEAN

###### Report: YearInvoice  ####

	#output Table values
reports.yearInvoice.outputTable.tableName=TABLENAME

	#set Dates |DATE1 = [DD.MM.YYYY HH.MM.SS]|[DD.MM.YYYY] |DATE2 = [DD.MM.YYYY]
reports.yearInvoice.dateRange.untilDate=DATE1		
reports.yearInvoice.dataRange.onlyInTimeRage=BOOLEAN

 	#set price per Consumption | cp = [consumptionType]+";"+[price]
 	#                          | pricePerConsumption = [cp+";"]*[cp]?   
reports.yearInvoice.pricePerConsumption=PRICEPERCONSUMTION

###### Report: emptyResidentialUnitsConsumption  ####

	#output Table values
reports.emptyResidentialUnitsConsumption.outputTable.tableName=TABLENAME

	#set Dates |DATE1 = [DD.MM.YYYY HH.MM.SS]|[DD.MM.YYYY] |DATE2 = [DD.MM.YYYY]
reports.emptyResidentialUnitsConsumption.dateRange.min=DATE1		
reports.emptyResidentialUnitsConsumption.dateRange.max=DATE1
reports.emptyResidentialUnitsConsumption.dataRange.onlyInTimeRage=BOOLEAN