accumulo.name=NAME
accumulo.zooServers=SERVERS
accumulo.user=USER
accumulo.password=PASSWORD

###### Report: MinMaxConsumption ####

	#output Table values
accumulo.minMaxConsumption.outPutTable.name=NAME
accumulo.minMaxConsumption.outPutTable.zooServers=SERVERS
accumulo.minMaxConsumption.outPutTable.user=USER
accumulo.minMaxConsumption.outPutTable.password=PASSWORD
	
	#set Dates |DATE1 = [DD.MM.YYYY HH.MM.SS]|[DD.MM.YYYY] |DATE2 = [DD.MM.YYYY]
accumulo.minMaxConsumption.dateRange.min=DATE1		
accumulo.minMaxConsumption.dateRange.max=DATE1	
accumulo.minMaxConsumption.dataRange.onlyYear=BOOLEAN
accumulo.minMaxConsumption.outPutTable.pastLimitation=DATE2 

	#select Compute for ResidentialUnit or/and Building
accumulo.minMaxConsumption.run.residentialUnit=BOOLEAN
accumulo.minMaxConsumption.run.builiding=BOOLEAN

###### Report: YearConsumption ####

	#output Table values
accumulo.yearConsumption.outPutTable.name=NAME
accumulo.yearConsumption.outPutTable.zooServers=SERVERS
accumulo.yearConsumption.outPutTable.user=USER
accumulo.yearConsumption.outPutTable.password=PASSWORD

	#set Dates |DATE1 = [DD.MM.YYYY HH.MM.SS]|[DD.MM.YYYY] |DATE2 = [DD.MM.YYYY]
accumulo.yearConsumption.dateRange.untilDate=DATE1		
accumulo.yearConsumption.dataRange.onlyYear=BOOLEAN
accumulo.yearConsumption.outPutTable.pastLimitation=DATE2 

###### Report: YearInvoice  ####

	#output Table values
accumulo.yearInvoice.outPutTable.name=NAME
accumulo.yearInvoice.outPutTable.zooServers=SERVERS
accumulo.yearInvoice.outPutTable.user=USER
accumulo.yearInvoice.outPutTable.password=PASSWORD

	#set Dates |DATE1 = [DD.MM.YYYY HH.MM.SS]|[DD.MM.YYYY] |DATE2 = [DD.MM.YYYY]
accumulo.yearInvoice.dateRange.untilDate=DATE1		
accumulo.yearInvoice.dataRange.onlyYear=BOOLEAN
accumulo.yearInvoice.outPutTable.pastLimitation=DATE2 

 	#set price per Consumption | cp = [consumptionType]+";"+[price]
 	#                          | pricePerConsumption = [cp+";"]*[cp]?   
accumulo.yearInvoice.pricePerConsumption=PRICEPERCONSUMTION